img {
    width: 300px;
    height: auto;
}
a {
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    font-style: italic;
}
li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}